{
  "extends": ["react-app", "eslint-config-triggr"],
  "rules": {
    "no-console": "off",
    // This doesn't work because the react-scripts webpack ignores this file. Left here as a
    // warning for future developers.
    // "no-loop-func": "off",
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
  },
}
